section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.centered {
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

input[type="number"] {
  width: 236px;
  text-align: center;
  font-size: 8em;
  font-weight: bold;
  background-color: aliceblue;
  border: 0px;
  outline: none;
  background: rgb(0, 255, 229);
  background: linear-gradient(
    105deg,
    rgba(0, 255, 229, 1) 0%,
    rgba(255, 140, 0, 1) 50%,
    rgba(255, 0, 128, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="submit"]:disabled {
  cursor: auto;
  background: rgb(199, 199, 199) 100%;
}

input[type="submit"] {
  width: 120px;
  height: 45px;
  font-family: "Karla", sans-serif;
  font-size: large;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border: 0px;
  border-radius: 8px;
  background: linear-gradient(
    105deg,
    rgba(0, 255, 229, 0.7) 0%,
    rgba(255, 140, 0, 0.7) 50%,
    rgba(255, 0, 128, 0.7) 100%
  );
  cursor: pointer;
}

.clicked {
  animation-name: clickButton;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
}

@keyframes clickButton {
  0% {
    scale: 1;
  }
  40% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
